.menu{
    background: black;
}
.menu logo{
    width: 50%;
    height: 50%;
}
.menu ul{
    display: flex;

}
.menu ul li{
    list-style: none;
    margin-left: 50px;

}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    background: white;
    color: black;
}
.search{
    margin-left: 50%;
}
.searchTemr{
    width: 50%;
    height: 24px;
}
.searchButton{
    height: 100%;
}